/* General Styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    box-sizing: border-box;
    background: linear-gradient(to right, #ffffff, #ffffff);
}

.full-screen-container {
    display: flex;
    justify-content: center;
    align-items: center; /* Center items vertically */
    width: 100%;
    height: 100vh; /* Ensure it takes full height of the viewport */
    padding: 20px;
    padding-top: 30px;

}

.contact-container {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 20px; /* Reduced padding */
    max-width: 400px; /* Reduced maximum width */
    width: 100%;
    margin: 0 auto; /* Center the container horizontally */
}

.main-title {
    font-size: 1.75rem; /* Reduced font size */
    color: #333;
    margin-bottom: 10px;
    text-align: center;
}

.sub-heading {
    font-size: 1rem; /* Reduced font size */
    color: #666;
    margin-bottom: 20px; /* Reduced margin */
    text-align: center;
}

.contact-inner {
    display: flex;
    flex-direction: column;
}

.input-container {
    margin-bottom: 15px; /* Adjusted margin */
}

.input-label {
    font-size: 0.875rem; /* Reduced font size */
    color: #333;
    margin-bottom: 5px;
    display: block;
}

.contact-input, .contact-textarea, .input {
    width: 100%;
    padding: 8px; /* Reduced padding */
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 0.875rem; /* Reduced font size */
    font-family: 'Arial', sans-serif;
}

.contact-textarea {
    resize: vertical;
    height: 80px; /* Reduced height */
}

.contact-input::placeholder, .contact-textarea::placeholder, .input::placeholder {
    color: #aaa; /* Placeholder color */
    font-family: 'Arial', sans-serif;
}

.error {
    color: red;
    font-size: 0.75rem; /* Reduced font size */
    margin-top: 5px;
}

.form-btn {
    background: #8906e6;
    color: white;
    border: none;
    padding: 10px; /* Reduced padding */
    font-size: 0.875rem; /* Reduced font size */
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
    width: 100%; /* Full width for the button */
}

.form-btn:hover {
    background: #4a057b;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .main-title {
        font-size: 1.5rem; /* Adjusted font size */
    }

    .sub-heading {
        font-size: 0.875rem; /* Adjusted font size */
    }

    .contact-container {
        padding: 15px; /* Adjusted padding */
    }
}

@media screen and (max-width: 480px) {
    .main-title {
        font-size: 1.25rem; /* Adjusted font size */
    }

    .sub-heading {
        font-size: 0.75rem; /* Adjusted font size */
    }

    .contact-container {
        padding: 10px; /* Adjusted padding */
    }

    .form-btn {
        padding: 8px; /* Adjusted padding */
        font-size: 0.75rem; /* Adjusted font size */
    }
}
