.director-container {
  padding: 40px 20px;
  background-color: #f5f5f5;
  position: relative;
  z-index: 1;
  margin-top: 20px;
  margin-bottom: 20px;
}

.our-team {
  text-align: center;
  margin-bottom: 30px;
}

.slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.team-members {
  display: flex;
  justify-content: center;
  gap: 20px;
  overflow: hidden;
  width: 80%; /* Adjusted width for the card container */
}

.member {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  flex: 1 0 300px;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.member img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.info h3 {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.info p {
  font-size: 1rem;
  color: #555;
}

/* Arrow buttons */
.arrow {
  font-size: 2rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
  transition: color 0.3s;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.arrow:hover {
  color: #000;
}

.left-arrow {
  left: 10px; /* Position the left arrow on the left side */
}

.right-arrow {
  right: 10px; /* Position the right arrow on the right side */
}

/* Responsive layout */
@media screen and (max-width: 1024px) {
  .team-members {
    justify-content: center;
  }

  .member {
    flex: 1 0 300px;
  }
}

@media screen and (max-width: 768px) {
  .team-members {
    flex-direction: column;
    align-items: center;
  }

  .member {
    width: 100%;
    max-width: 350px;
  }
}
