.services-container {
  padding: 30px 20px;
  background-color: #f4f4f4;
  text-align: center;
  max-width: 1280px;
  margin: 0 auto; /* Center the container horizontally */
  margin-right: 6%; /* Move the container to the left */
}

.services-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 20px;
}

.services-card {
  background-color: #fff;
  border-radius: 10px;
  width: 23%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 15px;
  flex-shrink: 0;
}

.card-image {
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-content h2 {
  margin: 15px 0;
  font-size: 1.5em;
  color: #333;
}

.card-content p {
  color: #666;
  font-size: 14px;
  line-height: 1.6;
  text-align: left;
  padding: 0 10px;
}

.learn-more-button {
  background-color: #800080;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  padding: 10px 30px;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.learn-more-button:hover {
  background-color: #660066;
}

.mobile-services {
  display: none;
}

@media (max-width: 1200px) {
  .services-card {
    width: 24%;
  }
}

@media (max-width: 1024px) {
  .services-cards {
    flex-wrap: wrap;
  }
  
  .services-card {
    width: 48%;
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .services-cards {
    display: none;
  }
  
  .mobile-services {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .services-card {
    width: 80%;
  }
  
  .nav-button {
    /* background-color: #800080; */
    color: #1a1818;
    border: none;
    background-color: transparent;
    /* border-radius: 50%; */
    
    width: 5px;
    height: 40px;
    font-size: 2rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;


    
   
  }
  
  
}
