body {
  overflow: auto;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f0f0f0;
}

.hidescroll {
  overflow: hidden !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: #28282B;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
}

.display {
  opacity: 1 !important;
}


.container2 {
  width: auto;
  max-width: 1300px;
  padding-left: 20px;
  
}


.contact .row {
  width: 100%;
  
}

.row {
  display: flex;
  z-index: 1;
}

.img-fluid {
  max-width: 60%;
  width: 50%;
}

.text-center {
  text-align: center;
}

.bgred {
  background-color: #ff00e2;
}

.btn {
  outline: 0;
  border: 0;
  font-size: 20px;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  font-weight: 500;
  z-index: 1;
  background-color: #28282B;
  padding: 10px 50px;
  margin: 0 0.5rem;
}
/*about us*/
.about {
  display: flex;
  height: 100vh; /* Full screen height */
  background-color: #F0F0F0; /* White background */
  color: #28282B; /* Purple color */
  padding: 20px;
  box-sizing: border-box;
}

.about .text-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}
.about .image-content {
  flex: 1;
  display: flex;
  justify-content: flex-end; /* Align image to the right */
  align-items: center;
  padding: 20px; /* Add padding for spacing */
}

.about .image-content img {
  width: auto; /* Ensures image retains aspect ratio */
  height: auto; /* Ensures image retains aspect ratio */
  max-width: 100%; /* Limits image size to container width */
  max-height: 100%; /* Limits image size to container height */
  border-radius: 15px;
  object-fit: cover; /* Ensures the image covers the entire container */
}

.about .btn {
  height: 60px;
  width: 180px; /* Corrected missing 'px' */
  background-color: #8906e6; /* Purple color */
  color: white;
  border-radius: 10px; /* Rounded button */
  outline: none;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 18px;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.about .btn:hover {
  background-color: #6a0570; /* Darker shade of purple on hover */
}

.about .main-p {
  color: #333; /* Lighter shade of black */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-weight: 300; /* Slimmer font weight */
}
.about .main-title.about-h2 {
  color: black;
}

/* Nav bar */
.container {
  width: auto;
  max-width: 1300px;
  padding-left: 20px;
  height: 80px;
}

.navbar {
  transition: background-color 0.4s;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.242); /* Semi-transparent black */
  z-index: 2;
  backdrop-filter: blur(10px); /* Increase blur for a glass effect */
  display: flex; /* Ensure navbar items are flex containers */
   /* Align items at the ends of the container */
  align-items: center; /* Center items vertically */
  box-shadow: 0 4px 6px rgba(217, 209, 209, 0.1); /* Add a slight shadow for depth */
}

.navbar .logo {
  display: flex; /* Ensures items are aligned properly */
  align-items: center; /* Centers items vertically */
  color: #c484f1;
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 28px;
  font-weight: 600px;
  padding-top: 10px;
  margin-left: 20px; /* Adjust margin for spacing */
}

.navbar .logo-image {
  width: 70px; /* Adjust size as needed */
  height: 50px; /* Maintain aspect ratio */
  margin-right: 10px; /* Space between logo and text */
}

.navbar ul {
  list-style: none;
  display: flex; /* Ensures items are aligned properly */
  justify-content: flex-end; /* Align items to the right */
  align-items: center; /* Center items vertically */
  padding-right: 0px; /* Adjust padding for spacing */
  margin-left: 440px;
}

.navbar ul li {
  margin: 0 1rem;
}

.navbar ul li a {
  font-size: 20px;
  cursor: pointer;
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
}

.button {
  cursor: pointer;
  transition: transform 0.2s linear;
  position: fixed;
  transform: translateX(300%);
  top: 20px;
  right: 15px;
  z-index: 1;
  display: none; /* Hide initially on larger screens */
}

.button .burger {
  transition: all 0.2s;
  margin-bottom: 0.45rem;
  width: 25px;
  height: 3px;
  background-color: white;
}


@media (max-width: 768px) {
  .button {
    display: block; /* Show button on smaller screens */
  }

  .navbar ul {
    display: none; /* Hide ul on smaller screens */
    flex-direction: column; /* Stack items vertically */
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #28282B;
    width: 100%;
    text-align: center;
    padding: 1rem 0;
    margin-left: 0;
    z-index: 100;
  }

  .navbar ul.opened {
    display: flex; /* Show ul when button is clicked */
  }

  .navbar ul li {
    margin: 1rem 0;
  }

  .navbar ul li a {
    color: #fafafa;
  }
}


/* Header */
.text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%; /* Cover left half of the header */
  height: 100%;
  background-color: transparent; /* Transparent background */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  z-index: 1; /* Ensure text is above video */
}

.animated-text {
  font-size: 3rem;
  color: white;
  opacity: 0.9; /* Reduced opacity for semi-transparent effect */
  animation: fadeIn 4s forwards infinite;
  background-color: rgba(0, 0, 0, 0.3); /* Semi-transparent black background */
  border-radius: 10px; /* Rounded corners */
  padding: 20px; /* Adjust padding as needed */
  width: 100%; /* Ensure text covers entire left half */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  50% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}

header {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

header h1 {
  z-index: 2; /* Ensure text is above video */
  color: white;
  font-size: 4rem;
}

.video-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.video-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: -1;
  top: 0;
}

.headerbg {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 0;
  top: 0;
  background-color: black;
  opacity: 0.7;
}

.opened {
  transform: translateX(0%)!important;
}


/* Main */
.main-title {
  font-size: 48px;
  color: #8906e6;
}

.main-p {
  font-size: 22px;
  font-weight: 500;
}

main {
  padding: 3rem 0;
  background-color: #fafafa;
  width: 100%;
}

/* Footer */
footer {
  background-color: #28282B;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.side1, .side2, .side3 {
  flex: 1;
  margin: 5px;
}

.side1 {
  display: flex;
  align-items: center;
}

.logo1 {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.footer-title {
  font-size: 22px;
  color: #8906e6;
  font-weight: 700;
  margin-bottom: 5px;
  white-space: nowrap; /* Prevent titles from wrapping */
}

.footer-address, .footer-content ul, .footer-content ul li {
  font-size: 14px;
}

.footer-content ul {
  list-style: none;
  padding: 0;
}

.footer-content ul li {
  margin: 5px 0;
}

.footer-content ul li a {
  color: white;
  text-decoration: none;
}

.footer-content ul li a:hover {
  text-decoration: underline;
}

.gotop {
  border-radius: 20px;
  background-color: #8906e6;
  border: none;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 5px;
}

.gotop-img {
  padding: 4px;
  width: 30px;
  height: 30px;
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
  }
  
  .side1, .side2, .side3 {
    margin: 10px 0;
    text-align: center;
  }
  
  .footer-title, .footer-address, .footer-content ul li {
    font-size: 14px;
  }
  
  .logo1 {
    margin-bottom: 10px;
  }
}



/* Services */
.container {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-services {
  position: relative;
  width: 1300px;
  height: 100vh; /* Full screen height */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-left: 340px;
  
}

.main-title {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.card-cover {
  width: 100%;
  height: 66vh; /* 2/3 of the screen height */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px; /* Rounded corners */
}

.card-img {
  display: none; /* Hide the img element as we are using background image */
}

.card-body {
  position: absolute;
  top: 10%;
  left: 5%;
  right: 5%; /* Ensure the right side is equally padded */
  background: rgba(255, 255, 255, 0.7);
  border-radius: 20px; /* Rounded corners */
  padding: 20px;
  text-align: left;
  box-sizing: border-box; /* Include padding in the element's width and height */
}

.card-title {
  font-size: 2rem;
  margin: 0;
}

.card-text {
  font-size: 1rem;
  margin: 10px 0 0 0;
}

.navigation-buttons {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  pointer-events: none; /* To allow click through to underlying elements */
}

.nav-button {
  background-color: transparent;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  padding: 10px 20px;
  color: #fff;
  pointer-events: all; /* Enable pointer events for buttons */
}

.nav-button:hover {
  color: #000;
}

/*contact us*/

.full-screen-container {
  height: 100vh; /* Full viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff(0, 0, 0, 0.2); /* Semi-transparent background */
}

.contact-container {
  width: 100%;
  max-width: 600px; /* Adjust maximum width as per your design */
  padding: 20px;
  background-color: #fff(255, 255, 255, 0.8); /* Frosted effect */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Shadow effect */
  border-radius: 10px;
}

.main-title {
  color: #28282b;
}

.sub-heading {
  color: #3f3f44;
  font-weight: 500;

}

.contact-inner {
  padding: 20px;
}

.input-container {
  margin-bottom: 20px;
}

.input-label {
  display: block;
  margin-bottom: 5px;
  color: #555;
}

.contact-input,
.contact-textarea {
  height: 40px;
  width: 100%;
  padding: 10px;
  border: 1px solid #cccccca9; /* Lighter grey border */
  border-radius: 15px; /* More circular borders */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Shadow effect for inputs */
  
}

.form-btn {
  height: 60px;
  width: 70%; /* Full width within its container */
  background-color: #8906e6; /* Purple color */
  color: white;
  border-radius: 10px; /* Rounded button */
  outline: none;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 18px;
  margin-top: 20px;
  transition: background-color 0.3s ease;
  font-size: 28;
  font-weight: 700;
}

.form-btn:hover {
  background-color: #001f40; /* Darker shade on hover */
}


/*Hiring*/
.hiring {
  display: flex;
  height: 100vh; /* Full screen height */
  background-color: #F0F0F0; /* White background */
  color: #28282B; /* Purple color */
  padding: 20px;
  box-sizing: border-box;
}

.hiring .text-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.hiring .image-content {
  flex: 1;
  display: flex;
  justify-content: center; /* Align image to the right */
  align-items: center;
  padding: 20px; /* Add padding for spacing */
}

.hiring .image-content img {
  width: auto; /* Ensures image retains aspect ratio */
  height: auto; /* Ensures image retains aspect ratio */
  max-width: 100%; /* Limits image size to container width */
  max-height: 100%; /* Limits image size to container height */
  border-radius: 15px;
  object-fit: cover; /* Ensures the image covers the entire container */
}

.hiring .btn {
  height: 60px;
  width: 180px;
  background-color: #8906e6; /* Purple color */
  color: white;
  border-radius: 10px; /* Rounded button */
  outline: none;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 18px;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.hiring .btn:hover {
  background-color: #6a0570; /* Darker shade of purple on hover */
}

.hiring .main-p {
  color: #333; /* Lighter shade of black */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-weight: 300; /* Slimmer font weight */
}

.hiring .main-title.hiring-h2 {
  color: black;
}
